/* app css stylesheet */

.hide {
   display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}


/*form {
  float: left;
}
input {
  float: left;
  clear: both;
  margin-top: 35px;
}

form button {
  float: left;
  clear: both;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}
*/

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.new{
    float: left;
    width: 600px;
}
.saved {
    float: left;
}
ul#shirts {
    float: left;
    width:  150px;
}

ul#shirts li {
    list-style: none;
}
li.ng-scope.ng-binding {
    padding:.5em  ;

}
ul:nth-child(even) {background: #CCC}
ul:nth-child(odd) {background: #FFF}


#shirtContainer {
  position: relative;
  margin: 4em 0;
}

input {
  border: black 3px solid;
  background: #FFF;
  width: 100px;
  height: 18px;
  border-radius: 25px;
  padding: 3px;
}

.shirtImg {
  float: left;
}
.new input.neck {
  position: relative;
  top: -25px;
  left: -261px;
}

.new input.shoulder {
  position: relative;
  top: -40px;
  left: -140px;
}

.new input.sleeve {
  position: relative;
  top: -30px;
  left: -54px;
}

.new input.opening {
  position: relative;
  top: 45px;
  left: -10px;
}

.new input.width {
  position: relative;
  top: 82px;
  left: -236px;

}

.new input.height {
  position: relative;
  top: 180px;
  left: -236px;
}

.new input.waist {
  position: relative;
  top: 300px;
  left: -236px;
}

.new input.general {
  width: 106px;
  float: left;
  margin-top: 15px;
}

.new button {
  margin-top: 10px;
}

.saved{
  width: 100%;
  float: left;
  margin-top: 5em;  
}

.saved input.neck {
  position: relative;
  vertical-align: top;
  left: -261px;
  top: -30px;
}
.saved input.shoulder {
  position: relative;
  vertical-align: top;
  left: -272px;
  top: -20px;
}

.saved input.sleeve {
  position: relative;
  vertical-align: top;
  left: -290px;
  top: 25px;
}
.saved input.opening {
  position: relative;
  vertical-align: top;
  left: -360px;
  top: 135px;
}
.saved input.width {
  position: relative;
  vertical-align: top;
  left: -703px;
  top: 140px;
}
.saved input.height {
  position: relative;
  vertical-align: top;
  left: -820px;
  top: 270px;
}
.saved input.waist {
  position: relative;
  vertical-align: top;
  left: -936px;
  top: 398px;
}
.saved input.general {
  position: relative;
  vertical-align: top;
  left: -271px;
  top: -25px;
}
.saved .shirts{
  margin-top: 2em;
}