/* app css stylesheet */

.hide {
   display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}


/*form {
  float: left;
}
input {
  float: left;
  clear: both;
  margin-top: 35px;
}

form button {
  float: left;
  clear: both;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}
*/

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.new-measurement{
    float: left;
    width: 100%;
}
.saved-measurements {
    float: left;
}
ul#shirts {
    float: left;
    width:  150px;
}

ul#shirts li {
    list-style: none;
}
li.ng-scope.ng-binding {
    padding:.5em  ;

}
ul:nth-child(even) {background: #CCC}
ul:nth-child(odd) {background: #FFF}


#shirtContainer {
  position: relative;
  margin: 4em 0;
}

input {
  border: black 3px solid;
  background: #FFF;
  width: 100px;
  height: 18px;
  border-radius: 25px;
}

.shirtImg {
  float: left;
}

.Sleeve {
  position: absolute;
  top: 10px;
  left: 300px;
}

.Opening {
  position: absolute;
  top: 130px;
  left: 400px;
}

.Width {
  position: absolute;
  top: 195px;
  left: 205px;

}

.Height {
  position: absolute;
  top: 300px;
  left: 160px;
}

.Waist {
  position: absolute;
  top: 405px;
  left: 205px;
}

.General {
  width: 106px;
  float: left;
  position: relative;
  top: 325px;
}

.General input {
  margin-top: 15px;
}

.General button {
  margin-top: 10px;
}

















