
<h2>Account</h2>



<form>
    <fieldset>
        <legend>Profile</legend>

        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="user.name"/>
        </label>

        <label>
            <span>Email:</span>
            <input type="text" name="name" ng-model="user.email"/>
        </label>
    </fieldset>

    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="confirm"/>
        </label>

        <button ng-click="updatePassword()">update password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>

    <fieldset>
        <legend>Change Email</legend>

        <label>
            <span>New Email:</span>
            <input type="text" ng-keypress="reset()" ng-model="newemail"/>
        </label>

        <label>
            <span>Password:</span>
            <input type="password" ng-keypress="reset()" ng-model="pass"/>
        </label>

        <button ng-click="updateEmail()">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>
<div class="new-measurement">
<img style="float:left;"src="img/tshirt-size.png">
<form>
  <input placeholder="Sleeve" ng-model="tshirt.sleeve">
  <input placeholder="Opening" ng-model="tshirt.opening">
  <input placeholder="Width" ng-model="tshirt.width">
  <input placeholder="Height" ng-model="tshirt.height">
  <input placeholder="Waist" ng-model="tshirt.waist">
  <input placeholder="Name" ng-model="tshirt.name">
  <input placeholder="Brand" ng-model="tshirt.brand">
  <input placeholder="Size" ng-model="tshirt.size">
  <button type="submit" ng-click="addMessage()">send</button>
</form>
</div>
<div class="saved-measurements">
<img style="float:left;"src="img/tshirt-size.png">  
<ul id="shirts" ng-show="shirts" ng-repeat="shirt in shirts">
    <li class="ng-scope ng-binding">{{shirt.sleeve}} "</li>
    <li class="ng-scope ng-binding">{{shirt.opening}} "</li>
    <li class="ng-scope ng-binding">{{shirt.width}} "</li>
    <li class="ng-scope ng-binding">{{shirt.height}} "</li>
    <li class="ng-scope ng-binding">{{shirt.waist}} "</li>
    <li class="ng-scope ng-binding">{{shirt.name}}</li>
    <li class="ng-scope ng-binding">{{shirt.brand}}</li>
    <li class="ng-scope ng-binding">{{shirt.size}}</li>
</ul>
</div>

<button ng-click="logout()">Log Out</button>