<div class="new-measurement">
<img style="float:left;"src="img/tshirt-size.png">
<form>
  <input placeholder="Sleeve" ng-model="newMeasurementSleeveLength">
  <input placeholder="Opening" ng-model="newMeasurementSleeveOpening">
  <input placeholder="Width" ng-model="newMeasurementWidth">
  <input placeholder="Height" ng-model="newMeasurementHeight">
  <input placeholder="Waist" ng-model="newMeasurementWaist">


  <button type="submit" ng-click="addMessage()">send</button>
</form>
</div>
<div class="saved-measurements">
<img style="float:left;"src="img/tshirt-size.png">	
<ul id="messages" ng-show="messages">
    <li ng-repeat="message in messages">{{message.text}}</li>
</ul>
</div>