<div class="new-measurement">
<img style="float:left;"src="img/tshirt-size.png">
<form>
  <input placeholder="Name" ng-model="tshirt.name">
  <input placeholder="Sleeve" ng-model="tshirt.sleeve">
  <input placeholder="Opening" ng-model="tshirt.opening">
  <input placeholder="Width" ng-model="tshirt.width">
  <input placeholder="Height" ng-model="tshirt.height">
  <input placeholder="Waist" ng-model="tshirt.waist">


  <button type="submit" ng-click="addMeasurement()">send</button>
</form>
</div>
<div class="saved-measurements">
<img style="float:left;"src="img/tshirt-size.png">	
<ul id="measurements" ng-show="measurements">
    <li ng-repeat="measurement in measurements">{{tshirt.text}}</li>
</ul>
</div>