


<div id="shirtContainer" class="new-measurement">
    <img style="float:left;"src="img/shirt.png">
        <form>
              <input class="Neck" placeholder="Neck" ng-model="tshirt.neck">
              <input class="Shoulder" placeholder="Shoulder" ng-model="tshirt.shoulder">              
              <input class="Sleeve" placeholder="Sleeve" ng-model="tshirt.sleeve">
              <input class="Opening" placeholder="Opening" ng-model="tshirt.opening">
              <input class="Width" placeholder="Width" ng-model="tshirt.width">
              <input class="Height" placeholder="Height" ng-model="tshirt.height">
              <input class="Waist" placeholder="Waist" ng-model="tshirt.waist">
        <div class="General">
              <input placeholder="Name" ng-model="tshirt.name">
              <input placeholder="Brand" ng-model="tshirt.brand">
              <input placeholder="Size" ng-model="tshirt.size">
              <button type="submit" ng-click="addMessage()">send</button>
        </div>
        </form>
</div><!--end shirtContainer-->



<div class="saved-measurements">
<img style="float:left;"src="img/tshirt-size.png">	
<ul id="shirts" ng-show="shirts" ng-repeat="shirt in shirts">
    <li class="ng-scope ng-binding">{{shirt.sleeve}} "</li>
    <li class="ng-scope ng-binding">{{shirt.opening}} "</li>
    <li class="ng-scope ng-binding">{{shirt.width}} "</li>
    <li class="ng-scope ng-binding">{{shirt.height}} "</li>
    <li class="ng-scope ng-binding">{{shirt.waist}} "</li>
    <li class="ng-scope ng-binding">{{shirt.name}}</li>
    <li class="ng-scope ng-binding">{{shirt.brand}}</li>
    <li class="ng-scope ng-binding">{{shirt.size}}</li>
</ul>
</div>